<ion-view title="{{LABELS.MY_DOCUMENTS}}" id="documents">
  <ion-nav-buttons side="left">
    <button class="button back-button buttons button-clear header-item" ui-sref="menu">
      <i class="icon ion-android-arrow-back"></i>
    </button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <button class="button buttons button-clear header-item" ng-click="turnSelectionMode()" ng-if="documents.length > 0">
      {{selectionMode? LABELS.CANCEL : LABELS.CHOOSE}}
    </button>
  </ion-nav-buttons>
  <ion-content padding="false" class="has-header">
    <div ng-if="IsLoading" class="spinner-content animated fade">
      <ion-spinner icon="ripple" class="spinner spinner-content spinner-positive"></ion-spinner>
    </div>
    <div ng-if="!IsLoading && documents.length == 0" class="spinner-content smaller animated fade">
      <i class="icon positive ion-sad"></i>
      <span class="positive fixed-phone">{{LABELS.DOCUMENTS_NOT_FOUND}}</span>
    </div>
    <div class="row background-assertive" ng-if="selectionMode && anySelected()">
      <button class="col col-20 col-offset-80 button button-clear button-light header-item" ng-click="deleteDocuments()">{{LABELS.DELETE}}</button>
    </div>
    <div ng-if="!IsLoading && documents.length > 0" class="custom-list list animated fade" ng-repeat="document in documents" >
      <ion-item class="item-icon-right item" ng-click="goToDocument(document)" ng-if="!selectionMode">
        <div ng-include src="'./templates/partials/my-documents-item.html'"></div>
      </ion-item>
      <ion-checkbox ng-model="document.delete" class="item-icon-right item" ng-if="selectionMode">
        <div ng-include src="'./templates/partials/my-documents-item.html'"></div>
      </ion-checkbox>
    </div>
  </ion-content>
</ion-view>
