<ion-view title="{{LABELS.DOCUMENT}}">
  <ion-nav-back-button class="button-icon icon ion-ios-arrow-back">{{LABELS.BACK}}</ion-nav-back-button>
  <ion-nav-buttons side="left">
    <button class="button back-button buttons button-clear header-item" ng-click="goToMyDocuments()">
      <i class="icon ion-android-arrow-back"></i>
    </button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right" ng-show="!IsLoading && document.storedDocument">
    <button class="button-icon light icon ion-gear-b" ng-click="openPopover($event)">
    </button>
  </ion-nav-buttons>
  <ion-content padding="false" class="has-header">
    <div class="row {{GetIcon(group.idGrupo).BACKGROUND}}">
      <div class="col-20">
        <img src="{{GetIcon(group.idGrupo).ICON}}" class="{{GetIcon(group.idGrupo).BACKGROUND}} header-img">
      </div>
      <div class="col text-vertical">
        <h4 class="light text-center">{{document.claseNombre}}</h4>
      </div>
    </div>
    <div ng-if="storedDocument" ng-show="!IsLoading" class="animated fade">
      <div class="row">
        <div class="col">
          <button class="button button-outline button-stable button-round pull-left ion-ios-arrow-left" ng-class="pageNum==1? 'disabled' : ''" ng-click="goPrevious()">
          </button>
        </div>
        <div class="col text-center text-vertical">
          <span>{{pageNum}} / {{pageCount}}</span>
        </div>
        <div class="col">
          <button class="button button-outline button-round button-stable pull-right ion-ios-arrow-right" ng-class="pageNum==pageCount? 'disabled' : ''" ng-click="goNext()">
          </button>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <ng-pdf template-url="./templates/partials/viewer.html" canvasid="pdf" scale="page-fit" debug="true"></ng-pdf>
        </div>
      </div>
    </div>
    <div ng-if="IsLoading" class="spinner-content animated fade">
      <ion-spinner icon="ripple" class="spinner spinner-content spinner-positive"></ion-spinner>
    </div>
  </ion-content>
</ion-view>
