<ion-view title="{{LABELS.DOWNLOAD_DOCUMENTS}}">
  <ion-nav-buttons side="left">
    <button class="button back-button buttons button-clear header-item" ui-sref="menu-downloads">
      <i class="icon ion-android-arrow-back"></i>
    </button>
  </ion-nav-buttons>
  <ion-content class="has-header" overflow-scroll="true">
    <div class="row {{GetIcon(group.idGrupo).BACKGROUND}}">
      <div class="col-20">
        <img src="{{GetIcon(group.idGrupo).ICON}}" class="{{GetIcon(group.idGrupo).BACKGROUND}} header-img">
      </div>
      <div class="col">
        <h4 class="light text-center">{{LABELS.SELECT}}</h4>
        <h4 class="light text-center">{{LABELS.OF + group.nombre}}</h4>
      </div>
    </div>
    <div ng-show="true" class="list animated fade">
      <ion-item class="item custom-item" ui-sref="menu-downloads-selection-request({doc: document, group: group})" ng-repeat="document in group.certificados">
        <div class="row">
          <div class="col col-75">
            <h2 class="stable tag-padding">{{document.tipoNombre}}</h2>
          </div>
          <div class="col col-25">
            <div class="row tag tag-padding center" ng-class="document.pagado? 'background-energized' : 'background-balanced'">
              <h3 class="light smaller" >
                  {{document.pagado? '$'+document.valorCLP : LABELS.FREE}}
              </h3>
            </div>
          </div>
        </div>
        <div class="row" ng-if="document.privado">
          <div class="col col-75">
            <h2 class="royal tag-padding">{{LABELS.PASSWORD_REQUIRED}}</h2>
          </div>
          <div class="col col-25">
            <div class="row background-royal tag tag-padding">
              <img src="./img/cu-logo-t.png" class="center tag-img">
            </div>
          </div>
        </div>
      </ion-item>
    </div>
  </ion-content>
</ion-view>
