<ion-view title="{{LABELS.DOWNLOAD_DOCUMENTS}}">
  <ion-nav-buttons side="left">
    <button class="button back-button buttons button-clear header-item" ui-sref="menu">
      <i class="icon ion-android-arrow-back"></i>
    </button>
  </ion-nav-buttons>
  <ion-content class="has-header" overflow-scroll="true">
    <div ng-if="FirstLoading" class="spinner-content animated fade">
      <ion-spinner icon="ripple" class="spinner spinner-content spinner-positive"></ion-spinner>
    </div>
    <div ng-if="!IsLoading && cantBeLoaded" class="spinner-content smaller animated fade">
      <i class="icon positive ion-sad"></i>
      <span class="positive fixed-phone">{{LABELS.CONNECTION_ERROR}}</span>
    </div>
    <ion-refresher
      class="refresher-positive animated fade"
      spinner="ripple"
      pulling-text="{{LABELS.PULL_TO_REFRESH}}"
      on-refresh="GetDocumentsGroups()">
    </ion-refresher>
    <div ng-if="!IsLoading && DocumentsGroups.length > 0" class="list animated fade">
        <ion-item class="item-avatar item-avatar-custom item-avatar-centered item-icon-right item stable" ui-sref="menu-downloads-selection({group: group})" ng-repeat="group in DocumentsGroups">
          <img src="{{GetIcon(group.idGrupo).ICON}}" class="{{GetIcon(group.idGrupo).BACKGROUND}}">
          </img>
          <h2 class="item-text-center-vertical stable">
            {{group.nombre}}
          </h2>
          <i class="icon ion-ios-arrow-right">
          </i>
        </ion-item>
    </div>
  </ion-content>
</ion-view>
