<ion-view title="{{LABELS.HELP}}">
  <ion-nav-buttons side="left">
    <button class="button back-button buttons button-clear header-item" ui-sref="menu">
      <i class="icon ion-android-arrow-back"></i>
    </button>
  </ion-nav-buttons>
  <ion-content class="has-header">
    <div class="help-content">
      <div class="row">
          <h2 class="center royal">{{LABELS.CALL_CENTER}}</h2>
      </div>
      <div class="row">
        <div class="background-number center phone-container">
          <i class="icon ion-ios-telephone stable phone-icon-big"> </i>
          <a class="stable phone-span-big" href="tel:{{PHONE_NUMBER}}">{{PHONE_NUMBER}}</a>
        </div>
      </div>
      <div class="row row-margin-top">
        <div class="background-fixed-number center phone-container">
          <i class="icon ion-ios-telephone stable phone-icon-small"> </i>
          <a class="stable phone-span-small" href="tel:{{FIXED_NUMBER}}">{{FIXED_NUMBER}}</a>
        </div>
      </div>
    </div>
    <div class="help-content-bottom">
      <div class="row">
        <h3 class="center royal">{{LABELS.FOLLOW_IN}}</h3>
      </div>
      <div class="row">
        <div class="col col-20 center" ng-click="openFB()">
          <img class="full-width" src="./img/social-icon-fb.png" />
        </div>
        <div class="col col-20 center" ng-click="openTW()">
          <img class="full-width" src="./img/social-icon-tw.png" />
        </div>
        <div class="col col-20 center" ng-click="openYT()">
          <img class="full-width" src="./img/social-icon-yt.png" />
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
