<ion-footer-bar align-title="left" class="slider-footer hide-on-keyboard-open">
  <ion-slides options="sliderOptions" slider="sliderDelegate" class="custom-slider">
    <ion-slide-page>
      <div class="row row-center background-positive" ng-click="noPasswordClick()">
        <div class="col-25">
          <img class="cu-logo footer-image" src="img/cu-logo.png">
          </img>
        </div>
        <div class="col padding-left">
          <div>
            <div class="light">
              {{LABELS.NO_PASSWORD}}
            </div>
            <div class="light">
              {{LABELS.GET_PASSWORD_1}}
            </div>
            <div class="light">
              {{LABELS.GET_PASSWORD_2}}
            </div>
          </div>
        </div>
      </div>
    </ion-slide-page>
    <ion-slide-page>
      <div class="row row-center background-royal">
        <div class="col col-center text-center custom-padding">
          <div class="light" ng-click="srceiSiteClick()">
            {{LABELS.MORE_INF_1}}
          </div>
          <div class="light" ng-click="srceiSiteClick()">
            {{LABELS.MORE_INF_2}}
          </div>
          <div class="light background-calm" ng-click="srceiSiteClick()">
            {{SRCEI_SITE}}
          </div>
          <div class="light background-positive">
            {{PHONE}}
          </div>
        </div>
      </div>
    </ion-slide-page>

  </ion-slides>
</ion-footer-bar>
