<div>
  <div class="row center positive">
    {{parameter.label}}
  </div>
  <div class="row">
    <div class="col col-10">
      <i class="icon ion-location positive">
      </i>
    </div>
    <div class="col">
      {{parameter.direccion}}
    </div>
  </div>
  <div class="row">
    <div class="col col-10">
      <i class="icon ion-clock positive">
      </i>
    </div>
    <div class="col">
      {{parameter.horario}}
    </div>
  </div>
  <div class="row" ng-if="parameter.fono != ''">
    <div class="col col-10">
      <i class="icon ion-ios-telephone positive">
      </i>
    </div>
    <div class="col">
      <a href="tel:{{office.fono}}">{{parameter.fono}}</a>
    </div>
  </div>
</div>
