<ion-view title="{{LABELS.WELCOME}}">
  <ion-content class="has-header">
    <div ng-if="true" class="menu-button-padding animated fade">
      <div class="row row-center">
        <img ng-src="./img/srcel-logo.png" style="width:100% !important" class="slide-image center animated fade padding"></img>
      </div>
      <div class="list animated fade">
        <ion-item class="item-avatar item-avatar-custom item-avatar-centered item-icon-right item stable" ui-sref="menu-downloads">
          <img ng-src="img/documentIcon.png">
          </img>
          <h2 class="item-text-center-vertical stable">
            {{LABELS.DOCUMENTS}}
          </h2>
          <i class="icon ion-ios-arrow-right">
          </i>
        </ion-item>
        <ion-item class="item-avatar item-avatar-custom item-icon-right item stable" ui-sref="menu-offices">
          <img ng-src="img/officesIcon.png">
          </img>
          <h2 class="item-text-center-vertical stable">
            {{LABELS.NEARLY_OFFICES}}
          </h2>
          <i class="icon ion-ios-arrow-right">
          </i>
        </ion-item>
      </div>
  </div>
  </ion-content>
  <div ng-include src="'templates/info-footer.html'"></div>
</ion-view>
