<ion-view title="{{LABELS.NEARLY_OFFICES}}" id="offices" class=" ">
    <ion-nav-buttons side="left">
      <button class="button back-button buttons button-clear header-item" ui-sref="menu">
        <i class="icon ion-android-arrow-back"></i>
      </button>
    </ion-nav-buttons>
    <ion-content padding="false" class="has-header">
      <ion-refresher ng-if="cantBeLoaded"
        class="refresher-positive animated fade"
        spinner="ripple"
        pulling-text="{{LABELS.PULL_TO_REFRESH}}"
        on-refresh="Init()">
      </ion-refresher>
      <div ng-if="IsLoading" class="spinner-content animated fade">
        <ion-spinner icon="ripple" class="spinner spinner-content spinner-positive"></ion-spinner>
      </div>
      <div ng-if="!IsLoading && cantBeLoaded" class="spinner-content smaller animated fade">
        <i class="icon positive ion-sad"></i>
        <span class="positive fixed-phone">{{LABELS.CONNECTION_ERROR}}</span>
      </div>
      <div class="row height-15" ng-show="!IsLoading && !cantBeLoaded">
        <label class="center col col-80 custom-label-select-map item item-input item-select" style="text-align-last:center;">
          <select
            ng-model="currentAction"
            ng-change="changeAction(currentAction)"
          required>
            <option ng-repeat="action in actions" value="{{action.KEY}}" style="text-align-last:center;">{{action.LABEL}}</option>
          </select>
        </label>
      </div>
      <ui-gmap-google-map class="animated fadeIn" ng-if="::map" control="mapControl" zoom="::map.zoom" bounds="::map.bounds" center="::map.center" draggable="true">
          <ui-gmap-map-control position="RIGHT_BOTTOM">
            <div>
              <button class="btn btn-sm btn-primary"  ng-click="posicionActual()" style="margin-right: 8px;padding: 1px 1px 1px 1px;height: 32px;">
                <img src="./img/compass_64.png" style="width: 25px;" />
              </button>
            </div>
          </ui-gmap-map-control>
          
          <ui-gmap-marker
            ng-if="userPosition"
            idKey='23245353443'
            coords='userPosition'
            options="markerOptions">
            <ui-gmap-window>
              <div>
                Mi ubicación
              </div>
            </ui-gmap-window>
          </ui-gmap-marker>

        <ui-gmap-marker ng-if="gpsEnabled" ng-repeat="(key, office) in filteredOffices"
          idKey='office.idOficina'
          coords='{latitude: office.latitud, longitude: office.longitud}' click="showWindow(key)">
        </ui-gmap-marker>
        <ui-gmap-window closeClick="closeWindow()" show="window" options="windowOptions" coords='{latitude: selectedOffice.latitud, longitude: selectedOffice.longitud}' templateUrl="'./templates/marker-window.html'" templateParameter="selectedOffice">
        </ui-gmap-window>
      </ui-gmap-google-map>
    </ion-content>
</ion-view>
