<ion-view title="{{LABELS.PRICE_LIST}}">
  <ion-nav-buttons side="left">
    <button class="button back-button buttons button-clear header-item" ui-sref="menu">
      <i class="icon ion-android-arrow-back"></i>
    </button>
  </ion-nav-buttons>
  <ion-content class="has-header" overflow-scroll="true">
    <ion-list ng-if="true" class="animated fade">
      <div ng-repeat="group in PriceList">
          <ion-item class="item-avatar item-avatar-custom item-avatar-centered item-icon-right stable" ng-class="group.shownGroup? 'active' : ''" ng-click="toggleGroup(group)">
            <img ng-src="{{group.ICON}}" class="{{group.BACKGROUND}}">
            </img>
            <h2 class="item-text-center-vertical stable">
              {{group.GROUP_NAME}}
            </h2>
            <i class="icon ion-ios-arrow-right" ng-class="group.shownGroup ? 'ion-ios-arrow-down' : 'ion-ios-arrow-right'">
            </i>
          </ion-item>
          <ion-item ng-show="group.shownGroup" class="item-accordion custom-item active" ng-repeat="document in group.DOCUMENTS">
            <div class="row">
              <div class="col col-67 marquee">
                  <div>
                    <span class="stable">{{document.NAME}}</span>
                  </div>
              </div>
              <div class="col col-33">
                <div class="row tag tag-padding center" ng-class="(document.PRICE != LABELS.FREE && document.PRICE != LABELS.EXEMPT)? 'background-energized' : 'background-balanced'">
                  <h3 class="light smaller" >
                      {{document.PRICE? document.PRICE : LABELS.FREE}}
                  </h3>
                </div>
              </div>
            </div>
          </ion-item>
      </div>
    </ion-list>
  </ion-content>
</ion-view>
