<ion-pull-up-footer class="bar-positive custom-pull-up-footer hide-on-keyboard-open" max-height="350">
  
    <div class="title" ion-pull-up-trigger>
      
      <div class="row background-positive" ng-click="noPasswordClickMenu()">
        <div class="col-10"></div>
        
        <div class="col background-positive">
          <img class="footer-image-menu" src="img/cu-logo.png"></img>
          <label style="vertical-align:super">{{LABELS.NO_PASSWORD}}</label>
        </div>
  
        <div class="col-10" ></div>
        
      </div>
  
      </div>
      <ion-pull-up-handle class="custom-pull-up-handle" width="120" height="15" icon-expand="ion-chevron-up" icon-collapse="ion-chevron-down">
        <label>{{LABELS.MENU}}</label>
      </ion-pull-up-handle>
      <ion-pull-up-content scroll="false" class="custom-pull-up-content">
        <div class="row">
          <div class="col col-33 center" ui-sref="menu-downloads()">
            <img src="img/icon-footer-26.png" class="center footer-image">
            </img>
            <h5 class="text-center light">{{LABELS.DOCUMENTS}}</h5>
          </div>
          <div class="col col-33 center" ui-sref="menu-documents()">
            <img src="img/icon-footer-27.png" class="center footer-image">
            </img>
            <h5 class="text-center light">{{LABELS.MY_DOCUMENTS}}</h5>
          </div>
          <div class="col col-33 center" ui-sref="menu-offices()">
            <img src="img/icon-footer-28.png" class="center footer-image">
            </img>
            <h5 class="text-center light">{{LABELS.OFFICES}}</h5>
          </div>
    
        </div>
        <div class="row">
          <div class="col col-33 center" ui-sref="pricelist">
            <img src="img/icon-footer-29.png" class="center footer-image">
            </img>
            <h5 class="text-center light">{{LABELS.PRICE_LIST}}</h5>
          </div>
          <div class="col col-33 center" ui-sref="help">
            <img src="img/icon-footer-30.png" class="center footer-image">
            </img>
            <h5 class="text-center light">{{LABELS.HELP}}</h5>
          </div>
        </div>
      </ion-pull-up-content>
    </ion-pull-up-footer>
    
  