<ion-modal-view>
  <ion-header-bar class="bar bar-header bar-positive">
    <h1 class="title">{{LABELS.QR_CODE}}</h1>
    <button class="button button-clear" ng-click="closeModal()">
      {{LABELS.CLOSE}}
    </button>
  </ion-header-bar>

  <ion-content class="has-header padding">
    <h3 class="text-center">{{document.claseNombre}}</h3>
    <h4 class="text-center">{{document.tipoNombre}}</h4>
    <qr ng-if="qrData" text="qrData" size="128" class="qrcode animated fadeIn"></qr>
  </ion-content>
</ion-modal-view>
