<ion-view title="{{LABELS.REQUEST_DOCUMENT}}">
  <ion-nav-buttons side="left">
    <button class="button back-button buttons button-clear header-item" ui-sref="menu-downloads-selection({group: group})">
      <i class="icon ion-android-arrow-back"></i>
    </button>
  </ion-nav-buttons>
  <ion-content padding="false" class="has-header" ng-class="keyboardOpened? 'custom-content-keyboardOpened' : 'custom-content'">
    <div class="row {{GetIcon(group.idGrupo).BACKGROUND}}">
      <div class="col-20">
        <img src="{{GetIcon(group.idGrupo).ICON}}" class="{{GetIcon(group.idGrupo).BACKGROUND}} header-img">
      </div>
      <div class="col text-vertical">
        <h4 class="light text-center">{{document.claseNombre}}</h4>
      </div>
    </div>
    <h4 class="text-center stable">{{document.tipoNombre}}</h4>
    <h5 ng-if="false" class="text-center">{{"Clase Id: " + document.claseId | json}}</h5>
    <h5 ng-if="false" class="text-center">{{"Tipo Id: " + document.tipoId | json}}</h5>
    <div class="row">
      <div class="col col-80 center">
        <form name="requestForm" novalidate="" ng-submit="document.pagado? RequestDocument(requestForm) : GetDocument(requestForm)">
          <div class="list">
            <!-- RUT -->
            <div ng-if="document.camposRequeridos.hasOwnProperty(DocumentsParams.PARAMS.RUN.KEY)">
              <label class="custom-label item item-input item-stacked-label" ng-class="{ 'has-errors' : requestForm.run.$invalid && requestForm.$submitted, 'no-errors' : requestForm.run.$valid && requestForm.$submitted}">
                <span class="input-label center">{{DocumentsParams.PARAMS.RUN.NAME}}</span>
                <input
                  class="center"
                  rut-input
                  rut-validator
                  autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"
                  name="run"
                  ng-model="document.camposRequeridos[DocumentsParams.PARAMS.RUN.KEY]"
                  type="{{DocumentsParams.PARAMS.RUN.HTML_TYPE}}"
                  placeholder="{{!keyboardOpened? DocumentsParams.PARAMS.RUN.EXAMPLE : ''}}"
                  maxlength="{{DocumentsParams.PARAMS.RUN.MAX_LENGTH}}"
                  minlength="{{DocumentsParams.PARAMS.RUN.MIN_LENGTH}}"
                  ng-maxlength="{{DocumentsParams.PARAMS.RUN.MAX_LENGTH}}"
                  size="{{DocumentsParams.PARAMS.RUN.MAX_LENGTH}}"
                required>
                <div class="error-container" ng-show="requestForm.run.$error && requestForm.$submitted" ng-messages="requestForm.run.$error">
                  <div ng-messages-include="./templates/input-error-messages/error-list-rut.html"></div>
                </div>
              </label>
            </div>

            <!-- PASSWORD -->
            <div ng-if="document.camposRequeridos.hasOwnProperty(DocumentsParams.PARAMS.PASSWORD.KEY) && document.privado">
              <label class="custom-label item item-input item-stacked-label" ng-class="{ 'has-errors' : requestForm.password.$invalid && requestForm.$submitted, 'no-errors' : requestForm.password.$valid && requestForm.$submitted}">
                <span class="input-label center">{{DocumentsParams.PARAMS.PASSWORD.NAME}}</span>
                <input
                  class="center"
                  autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"
                  name="password"
                  ng-model="document.camposRequeridos[DocumentsParams.PARAMS.PASSWORD.KEY]"
                  type="{{DocumentsParams.PARAMS.PASSWORD.HTML_TYPE}}"
                  placeholder="{{DocumentsParams.PARAMS.PASSWORD.EXAMPLE}}"
                  maxlength="{{DocumentsParams.PARAMS.PASSWORD.MAX_LENGTH}}"
                  minlength="{{DocumentsParams.PARAMS.PASSWORD.MIN_LENGTH}}"
                  ng-maxlength="{{DocumentsParams.PARAMS.PASSWORD.MAX_LENGTH}}"
                  size="{{DocumentsParams.PARAMS.PASSWORD.MAX_LENGTH}}"
                required>
                <div class="error-container" ng-show="requestForm.password.$error && requestForm.$submitted" ng-messages="requestForm.password.$error">
                  <div ng-messages-include="./templates/input-error-messages/error-list-password.html"></div>
                </div>
              </label>
            </div>

            <!-- Número de Registro -->
            <div ng-if="document.camposRequeridos.hasOwnProperty(DocumentsParams.PARAMS.N_REGISTRO.KEY)">
              <label class="custom-label item item-input item-stacked-label" ng-class="{ 'has-errors' : requestForm.nregistro.$invalid && requestForm.$submitted, 'no-errors' : requestForm.nregistro.$valid && requestForm.$submitted}">
                <span class="input-label center">{{DocumentsParams.PARAMS.N_REGISTRO.NAME}}</span>
                <input
                  class="center"
                  autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"
                  name="nregistro"
                  n-registro-input
                  ng-disabled="document.privado"
                  ng-model="document.camposRequeridos[DocumentsParams.PARAMS.N_REGISTRO.KEY]"
                  type="{{DocumentsParams.PARAMS.N_REGISTRO.HTML_TYPE}}"
                  placeholder="{{!keyboardOpened? DocumentsParams.PARAMS.N_REGISTRO.EXAMPLE : ''}}"
                  maxlength="{{DocumentsParams.PARAMS.N_REGISTRO.MAX_LENGTH}}"
                  minlength="{{DocumentsParams.PARAMS.N_REGISTRO.MIN_LENGTH}}"
                  ng-maxlength="{{DocumentsParams.PARAMS.N_REGISTRO.MAX_LENGTH}}"
                  size="{{DocumentsParams.PARAMS.N_REGISTRO.MAX_LENGTH}}"
                  pattern="[0-9]*"
                required>
                <div class="error-container" ng-show="requestForm.nregistro.$error && requestForm.$submitted" ng-messages="requestForm.nregistro.$error">
                  <div ng-messages-include="./templates/input-error-messages/error-list-nregistro.html"></div>
                </div>
              </label>
            </div>

            <!-- Patente -->
            <div ng-if="document.camposRequeridos.hasOwnProperty(DocumentsParams.PARAMS.PATENTE.KEY)">
              <label class="custom-label item item-input item-stacked-label" ng-class="{ 'has-errors' : requestForm.patente.$invalid && requestForm.$submitted, 'no-errors' : requestForm.patente.$valid && requestForm.$submitted}">
                <span class="center input-label">{{DocumentsParams.PARAMS.PATENTE.NAME}}</span>
                <input
                  class="center"
                  autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"
                  name="patente"
                  ng-disabled="document.privado"
                  ng-model="document.camposRequeridos[DocumentsParams.PARAMS.PATENTE.KEY]"
                  type="{{DocumentsParams.PARAMS.PATENTE.HTML_TYPE}}"
                  placeholder="{{!keyboardOpened? DocumentsParams.PARAMS.PATENTE.EXAMPLE : ''}}"
                  maxlength="{{DocumentsParams.PARAMS.PATENTE.MAX_LENGTH}}"
                  minlength="{{DocumentsParams.PARAMS.PATENTE.MIN_LENGTH}}"
                  ng-maxlength="{{DocumentsParams.PARAMS.PATENTE.MAX_LENGTH}}"
                  size="{{DocumentsParams.PARAMS.PATENTE.MAX_LENGTH}}"
                required>
                <div class="error-container" ng-show="requestForm.patente.$error && requestForm.$submitted" ng-messages="requestForm.patente.$error">
                  <div ng-messages-include="./templates/input-error-messages/error-list-patente.html"></div>
                </div>
              </label>
            </div>

            <!-- Año -->
            <div ng-if="document.camposRequeridos.hasOwnProperty(DocumentsParams.PARAMS.ANO.KEY)">
              <label class="custom-label item item-input item-stacked-label" ng-class="{ 'has-errors' : requestForm.ano.$invalid && requestForm.$submitted, 'no-errors' : requestForm.ano.$valid && requestForm.$submitted}">
                <span class="center input-label">{{DocumentsParams.PARAMS.ANO.NAME}}</span>
                <input
                  class="center"
                  autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"
                  name="ano"
                  ng-disabled="document.privado"
                  ng-model="document.camposRequeridos[DocumentsParams.PARAMS.ANO.KEY]"
                  type="{{DocumentsParams.PARAMS.ANO.HTML_TYPE}}"
                  placeholder="{{!keyboardOpened? DocumentsParams.PARAMS.ANO.EXAMPLE : ''}}"
                  maxlength="{{DocumentsParams.PARAMS.ANO.MAX_LENGTH}}"
                  minlength="{{DocumentsParams.PARAMS.ANO.MIN_LENGTH}}"
                  ng-maxlength="{{DocumentsParams.PARAMS.ANO.MAX_LENGTH}}"
                  size="{{DocumentsParams.PARAMS.ANO.MAX_LENGTH}}"
                  pattern="[0-9]*"
                required>
                <div class="error-container" ng-show="requestForm.ano.$error && requestForm.$submitted" ng-messages="requestForm.ano.$error">
                  <div ng-messages-include="./templates/input-error-messages/error-list-ano.html"></div>
                </div>
              </label>
            </div>

            <!-- Número de Documento -->
            <div ng-if="document.camposRequeridos.hasOwnProperty(DocumentsParams.PARAMS.N_DOCUMENTO.KEY)">
              <label class="custom-label item item-input item-stacked-label" ng-class="{ 'has-errors' : requestForm.ndocumento.$invalid && requestForm.$submitted, 'no-errors' : requestForm.ndocumento.$valid && requestForm.$submitted}">
                <span class="center input-label">{{DocumentsParams.PARAMS.N_DOCUMENTO.NAME}}</span>
                <input
                  class="center"
                  n-documento-input
                  autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"
                  name="ndocumento"
                  ng-disabled="document.privado"
                  ng-model="document.camposRequeridos[DocumentsParams.PARAMS.N_DOCUMENTO.KEY]"
                  type="{{DocumentsParams.PARAMS.N_REGISTRO.HTML_TYPE}}"
                  placeholder="{{!keyboardOpened? DocumentsParams.PARAMS.N_DOCUMENTO.EXAMPLE : ''}}"
                  maxlength="{{DocumentsParams.PARAMS.N_DOCUMENTO.MAX_LENGTH}}"
                  minlength="{{DocumentsParams.PARAMS.N_DOCUMENTO.MIN_LENGTH}}"
                  ng-maxlength="{{DocumentsParams.PARAMS.N_DOCUMENTO.MAX_LENGTH}}"
                  size="{{DocumentsParams.PARAMS.N_DOCUMENTO.MAX_LENGTH}}"
                required>
                <div class="error-container" ng-show="requestForm.ndocumento.$error && requestForm.$submitted" ng-messages="requestForm.ndocumento.$error">
                  <div ng-messages-include="./templates/input-error-messages/error-list-ndocumento.html"></div>
                </div>
              </label>
            </div>

            <!-- Número de Repertorio -->
            <div ng-if="document.camposRequeridos.hasOwnProperty(DocumentsParams.PARAMS.N_REPERTORIO.KEY)">
              <label class="custom-label item item-input item-stacked-label" ng-class="{ 'has-errors' : requestForm.nrepertorio.$invalid && requestForm.$submitted, 'no-errors' : requestForm.nrepertorio.$valid && requestForm.$submitted}">
                <span class="center input-label">{{DocumentsParams.PARAMS.N_REPERTORIO.NAME}}</span>
                <input
                  class="center"
                  autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"
                  name="nrepertorio"
                  n-registro-input
                  ng-disabled="document.privado"
                  ng-model="document.camposRequeridos[DocumentsParams.PARAMS.N_REPERTORIO.KEY]"
                  type="{{DocumentsParams.PARAMS.N_REPERTORIO.HTML_TYPE}}"
                  placeholder="{{!keyboardOpened? DocumentsParams.PARAMS.N_REPERTORIO.EXAMPLE : ''}}"
                  maxlength="{{DocumentsParams.PARAMS.N_REPERTORIO.MAX_LENGTH}}"
                  minlength="{{DocumentsParams.PARAMS.N_REPERTORIO.MIN_LENGTH}}"
                  ng-maxlength="{{DocumentsParams.PARAMS.N_REPERTORIO.MAX_LENGTH}}"
                  size="{{DocumentsParams.PARAMS.N_REPERTORIO.MAX_LENGTH}}"
                  pattern="[0-9]*"
                required>
                <div class="error-container" ng-show="requestForm.nrepertorio.$error && requestForm.$submitted" ng-messages="requestForm.nrepertorio.$error">
                  <div ng-messages-include="./templates/input-error-messages/error-list-nrepertorio.html"></div>
                </div>
              </label>
            </div>

            <!-- País -->
            <div ng-if="document.camposRequeridos.hasOwnProperty(DocumentsParams.PARAMS.PAIS.KEY) && countries">
              <label class="custom-label item item-input item-select" ng-class="{ 'has-errors' : requestForm.pais.$invalid && requestForm.$submitted, 'no-errors' : requestForm.pais.$valid && requestForm.$submitted}">
                <span class="input-label">{{DocumentsParams.PARAMS.PAIS.NAME}}</span>
                <select
                  name="pais"
                  ng-disabled="document.privado"
                  ng-model="document.camposRequeridos[DocumentsParams.PARAMS.PAIS.KEY]"
                  placeholder="{{DocumentsParams.PARAMS.PAIS.EXAMPLE}}"
                required>
                  <option ng-repeat="country in countries" value="{{country.nombre}}">{{country.nombre}}</option>
                </select>
              </label>
              <div class="error-container" ng-show="requestForm.pais.$error && requestForm.$submitted" ng-messages="requestForm.pais.$error">
                <div ng-messages-include="./templates/input-error-messages/error-list-pais.html"></div>
              </div>
            </div>

            <button ng-if="!document.pagado" class="custom-form-button center button button-balanced" ng-class="!isLoading? 'icon ion-ios-arrow-right' : 'disabled'" type="submit">
              <ion-spinner ng-show="isLoading" icon="ripple" class="center spinner spinner-light spinner-button"></ion-spinner>
            </button>

            <button ng-if="document.pagado" class="text-center custom-form-button center button button-balanced" ng-class="!isLoading? 'icon ion-ios-arrow-right' : 'disabled'" type="submit">
              <ion-spinner ng-show="isLoading" icon="ripple" class="center spinner spinner-light spinner-button"></ion-spinner>
            </button>

            <div ng-show="errorMessages" class="center row error error-margin">
              <span class="ion-sad-outline" ng-repeat="errorMessage in errorMessages">
                {{errorMessage}}
              </span>
            </div>

          </div>
        </form>
      </div>
    </div>
  </ion-content>
  <div ng-if="document.privado" ng-include src="'templates/info-footer.html'"></div>

</ion-view>
