<ion-view title="{{LABELS.REQUEST_DOCUMENT}}">
  <ion-nav-buttons side="left">
    <button class="button back-button buttons button-clear header-item" ui-sref="menu-downloads-selection({group: group})">
      <i class="icon ion-android-arrow-back"></i>
    </button>
  </ion-nav-buttons>
  <ion-content padding="false" class="has-header">
    <div class="row {{GetIcon(group.idGrupo).BACKGROUND}}">
      <div class="col-20">
        <img src="{{GetIcon(group.idGrupo).ICON}}" class="{{GetIcon(group.idGrupo).BACKGROUND}} header-img">
      </div>
      <div class="col text-vertical">
        <h4 class="light text-center">{{document.claseNombre}}</h4>
      </div>
    </div>
    <h3 class="stable text-center">{{LABELS.SELECTED_DOCUMENT}}</h3>
    <div class="list">

      <ion-item class="item custom-item active">
        <div class="row">
          <div class="col col-75">
            <h2 class="stable tag-padding">{{document.tipoNombre}}</h2>
          </div>
          <div class="col col-25">
            <div class="row tag tag-padding center" ng-class="document.pagado? 'background-energized' : 'background-balanced'">
              <h3 class="light smaller" >
                  {{document.pagado? '$'+document.valorCLP : LABELS.FREE}}
              </h3>
            </div>
          </div>
        </div>
      </ion-item>

    </div>
    <button class="button-round center button button-balanced" ng-class="!isLoading? '' : 'disabled'" ng-click="PayDocument()">
      <span ng-show="!isLoading">{{LABELS.PAY_DOCUMENT}}</span>
      <ion-spinner ng-show="isLoading" icon="ripple" class="center spinner spinner-light spinner-button"></ion-spinner>
    </button>
    <div ng-show="errorMessages" class="row error center error-margin">
      <span class="ion-sad-outline" ng-repeat="errorMessage in errorMessages">
        {{errorMessage}}
      </span>
    </div>
  </ion-content>
</ion-view>
