
// To customize the look and feel of Ionic, you can override the variables
// in ionic's _variables.scss file.
//
// For example, you might change some of the default colors:

$light:                           #fff !default;
$stable:                          #898989 !default;
$positive:                        #087cbc !default;
$calm:                            #33bbd1 !default;
$balanced:                        #33cd5f !default;
$energized:                       #ff7e00 !default;
$assertive:                       #eb3c46 !default;
$royal:                           #0F69B4 !default;
$dark:                            #444 !default;

$text-color: #898989;

$nacimiento: #8cbc55;
$matrimonio: #b68d8d;
$defuncion: #788ca5;
$vehiculos: #33bbd1;
$profesionales: #825f99;
$antecedentes: #0F69B4;
$prendas: #ea493d;
$discapacidad: #ff7e00;
$unioncivil: #008770;
$personajuridica: #006299;
$number: #E0F2F6;
$fixed-number: #dbdbdb;
// The path for our ionicons font files, relative to the built CSS in www/css
$ionicons-font-path: "../lib/ionic/fonts" !default;
$infoFooterHeight: 150px;
// Include all of Ionic
@import "www/lib/ionic/scss/ionic";

/* Empty. Add your own CSS if you like */
@font-face {
  font-family: gobCL;
  font-weight: normal;
  src: url("../fonts/gobCL_Regular.otf") format("opentype");
}
@font-face {
  font-family: gobCL;
  font-weight: bold;
  src: url("../fonts/gobCL_Bold.otf") format("opentype");
}
@font-face {
  font-family: gobCL;
  font-weight: lighter;
  src: url("../fonts/gobCL_Light.otf") format("opentype");
}
@font-face {
  font-family: gobCL;
  font-weight: bolder;
  src: url("../fonts/gobCL_Heavy.otf") format("opentype");
}
* {
    font-family: 'gobCL' !important;
}

.center {
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
}
.qrcode {
  position: absolute;
  text-align: center;
  right: 0;
  left: 0;
}
.qrcode canvas {
  width: 80%;
  height: auto !important;
}
.spinner-button{
  vertical-align: middle;
}
.spinner-button svg{
  height: 16px !important;
  width: 16px !important;
}
div.spinner-content {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  height: 85px;
  text-align: center;
}
.spinner-content svg {
  width: 19% !important;
  height: 85px !important;
}
/* Errors Style */
.error-container {
  margin: 0;
}

.error-container:last-child {
  margin: 0 !important;
}

.error {
  padding: 0 !important;
  font-size: 11px !important;
  text-transform: uppercase;
  color: #B83E2C !important;
  vertical-align: middle;
  white-space: normal !important;
}

.last-error-container > .error {
  padding: 10px 16px 0;
}

.has-errors {
  border-bottom: 3px solid #B83E2C;
}

.no-errors {
  border-bottom: 3px solid green;
}

.scroll {
    height: 100%;
}

.angular-google-map {
    width: 100%;
    height: 100%;
}
.angular-google-map-container {
    width: 100%;
    height: 85%;
}

.pull-right {
  float: right;
}

.list .item.item-accordion {
  line-height: 38px;
  padding-top: 0;
  padding-bottom: 0;
  transition: 0.1s all linear;
}

.list .item.item-accordion.ng-hide {
  line-height: 0px;
}

.list .item.item-accordion.ng-hide-add,
.list .item.item-accordion.ng-hide-remove {
  display: block !important;
}

.text-vertical {
  display: flex;
  vertical-align: middle;
  align-items: center;
  justify-content: center;
}

.fixed-phone {
  margin-left: 4px;
}
.larger {
  font-size: larger;
}
.smaller {
  font-size: smaller !important;
}
.custom-item-divider.item-divider {
  background-color: $positive;
  color: white;
}
.custom-item-divider.item.activated {
  background-color: $positive;
  opacity: 0.8;
}

.refresher-positive div{
  color: $positive;
}
.refresher-positive svg {
  stroke: $positive;
  fill: $positive;
}

.fade.ng-enter {
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}
.fade.ng-leave {
    -webkit-animation: fadeOut 1s;
    animation: fadeOut 1s;
}

.error-popup .popup-title {
    color: white;
}
.error-popup .popup-head {
    background-color: $assertive;
}
.inf-popup .popup-title {
    color: white;
}
.inf-popup .popup-head {
    background-color: $energized;
}
.icon-slide {
  font-size: 50px;
}
.slide-card {
  margin: 5px !important;
}
.slide-image {
  width: 80% !important;
  margin-top: 20px;
  margin-bottom: 20px;
}

.item-text-center-vertical {
  line-height: 300%;
  padding-left: 20px;
}

.item-avatar-custom img {
  max-width: 50px !important;
  max-height: 50px !important;
}
.slider-footer {
  height: $infoFooterHeight !important;
  margin-bottom: 30px;
}
.slider-footer:before {
    top:0;
    left:0;
    content: '';
    position: absolute;
    background-image: url("../img/cu-background.png") !important;
    background-repeat: repeat;
    background-size: 20px;
    opacity: 0.25;
    z-index:-1;
    width: 100%;
    height: 100%;
    background-color: $positive;
}
.background-positive {
  background-color: $positive;
}
.custom-slider {
  margin-left: 10px;
  margin-right: 10px;
}
.background-calm {
  background-color: $calm;
}
.background-royal {
  background-color: $royal;
}
.background-light {
  background-color: $light;
}
.background-balanced {
  background-color: $balanced;
}
.background-energized {
  background-color: $energized;
}
.background-stable {
  background-color: $stable;
}
.background-assertive {
  background-color: $assertive;
}
.background-number {
  background-color: $number;
}
.background-fixed-number {
  background-color: $fixed-number;
}
.custom-row-slide h5 {
  margin-top: 2px;
  margin-bottom: 2px;
}
.custom-padding {
  padding-left: 50px;
  padding-right: 50px;
}
a[href^="tel"]{
  text-decoration: none;
}
.cu-logo {
  border-radius: 50%;
}

.background-nacimiento {
  background-color: $nacimiento;
}
.background-matrimonio {
  background-color: $matrimonio;
}
.background-defuncion {
  background-color: $defuncion;
}
.background-vehiculos {
  background-color: $vehiculos;
}
.background-profesionales {
  background-color: $profesionales;
}
.background-antecedentes {
  background-color: $antecedentes;
}
.background-prendas {
  background-color: $prendas;
}
.background-discapacidad {
  background-color: $discapacidad;
}
.background-unioncivil {
  background-color: $unioncivil;
}
.background-personajuridica {
  background-color: $personajuridica;
}
.header-img {
  width: 100%;
}

.tag {
  border-radius: 20px;
}
.tag-padding {
  padding: 5px 10px;
}
.tag-img {
  max-width: 16px;
  max-height: 16px;
}
.custom-item a {
  padding: 16px !important;
}
.custom-label {
  padding: 0 !important;
  border-width: 0 0 1px 0;
  margin-top: 20px;
}
.custom-label span {
  display: block;
  text-align: center;
}
.custom-form-button {
  border-radius: 50%;
  margin-top: 20px;
  min-height: 50px;
  min-width: 50px;
}
.button-round {
  border-radius: 50%;
  min-height: 50px;
  min-width: 50px;
}
.error-margin {
  margin-top: 10px;
}

.custom-popover-container {
  background-color: black !important;
  opacity: 0.8 !important;
  height: auto;
  border-radius: 0 !important;
}
.icon-round.first-item-icon {
  margin-top: 16px;
}
.custom-popover-container .popover-arrow:after {
  background-color: black !important;
  opacity: 0.8 !important;
}
.custom-popover-item {
  background-color: black !important;
  opacity: 0.8;
  border-width: 0 0 1px 0 !important;
  border-color: white !important;
}
.platform-android .custom-popover-container {
  margin-top: 0 !important;
}
.custom-popup .popup-buttons {
  padding: 0;
}

.custom-popup .popup-buttons button {
  border-radius: 0 !important;
  margin-right: 0 !important;
}
.popup-icon {
  font-size: 300%;
}
.custom-list {
  margin-bottom: 0;
}

.list .item.item-accordion {
  line-height: 38px;
  padding-top: 0;
  padding-bottom: 0;
  transition: 0.09s all linear;
}
.list .item.item-accordion.ng-hide {
  line-height: 0px;
}
.list .item.item-accordion.ng-hide-add,
.list .item.item-accordion.ng-hide-remove {
  display: block !important;
}
.custom-pull-up-handle {
  border-radius: 5px 5px 0 0;
  left: 0 !important;
  width: 20% !important;
}
.custom-pull-up-footer {
  opacity: 0.95;
}
.footer-image {
  width: 80%;
  max-width: 80px !important;
  max-height: 80px !important;
}
.custom-pull-up-content {
  margin-top: 40px !important;
}
.custom-pull-up-content h5 {
  margin-top: 5px !important;
}
.scroll-content {
  margin-bottom: 45px;
}
.custom-label-select-map {
  margin-top: 20px;
  margin-bottom: 20px;
  height: 40px;
}
.custom-label-select-map select {
  width: 100%;
  max-width: 100% !important;
}
.height-15 {
  height: 15%;
}

.marquee {
  overflow: hidden;
  position: relative;
  margin: 0;
  padding: 0;
}
.marquee div {
  display: block;
  width: 100%;
  position: absolute;
  overflow: hidden;
  animation-play-state:initial;
}
.marquee div:hover {
  animation: marquee 5s linear;
  animation-play-state: running;
  width: auto;
}
.marquee span {
  float: left;
  width: 100%;
}
@keyframes marquee {
  0% { left: 0; }
  100% { left: -100%; }
}

.custom-content {
  height: calc(100% - 224px) !important;
  margin-bottom: 0 !important;
}
.custom-content-keyboardOpened {
  margin-bottom: 0 !important;
}
.row-header-gob {
  height: 20px;
  z-index: 999;
  position: absolute;
  padding-top: 0;
}

.col-gob-left {
  border-color: white;
  border-width: 0 1px 1px 1px;
  border-style: solid;
}
.col-gob-right {
  border-width: 0 1px 1px 0;
  border-style: solid;
  border-color: white;
}
.custom-android-bar .bar {
  padding: 30px 5px 0 5px !important;
  height: 74px !important;
}
.custom-android-bar .nav-bar-block .bar div {
  top: auto !important;
}
.custom-android-scroll-content .scroll-content {
  margin-top: 29px !important;
}
.col-15 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 15%;
    -moz-box-flex: 0;
    -moz-flex: 0 0 15%;
    -ms-flex: 0 0 15%;
    flex: 0 0 15%;
    max-width: 15%;
}
.back-button i:before {
  font-size: 35px !important;
}
.icon-round {
  border-radius: 50%;
  width: 36px !important;
  height: 36px !important;
  margin-top: 8px;
  padding: 2px;
}
.icon-round:before {
  width: 32px !important;
  height: 32px !important;
}

.col-5 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 5%;
    -moz-box-flex: 0;
    -moz-flex: 0 0 5%;
    -ms-flex: 0 0 5%;
    flex: 0 0 5%;
    max-width: 5%;
}
.col-offset-5 {
  margin-left: 5%;
}
.phone-span-big {
  font-size: 30px;
}
.phone-span-small {
  font-size: 24px;
}
.phone-icon-big {
  font-size: 30px;
}
.phone-icon-small {
  font-size: 24px;
}
.phone-container {
  border-radius: 15px;
  padding: 2px 10px;
}
.custom-light {
  color: $light !important;
}
.help-content {
  padding-top: 20%;
}
.help-content-bottom {
  position: absolute;
  bottom: 0;
  margin-bottom: 20px;
}
.row-margin-top {
  margin-top: 10px !important;
}
.full-width {
  width: 100% !important;
}
.custom-slider a[href^="tel"]  {
 color: $light;
}