<div class="error" ng-message="required">
  <i class="ion-alert"></i>
  {{LABELS.REQUIRED}}
</div>
<div class="error" ng-message="rutValidator">
  <i class="ion-alert"></i>
  {{LABELS.INVALID_RUT}}
</div>
<div class="error" ng-message="maxlength">
  <i class="ion-information-circled"></i>
  {{LABELS.MAX_RUT_LENGTH}}
</div>
