<div class="error" ng-message="required">
  <i class="ion-alert"></i>
  {{LABELS.REQUIRED}}
</div>
<div class="error" ng-message="maxlength">
  <i class="ion-information-circled"></i>
  {{LABELS.MIN_PATENTE_LENGTH}}
</div>
<div class="error" ng-message="minlength">
  <i class="ion-information-circled"></i>
  {{LABELS.MAX_PATENTE_LENGTH}}
</div>
