<div class="error" ng-message="required">
  <i class="ion-alert"></i>
  {{LABELS.REQUIRED}}
</div>
<div class="error" ng-message="minlength">
  <p class="error"><i class="ion-alert"></i>
  {{LABELS.MIN_PASSWORD_LENGTH}}</p>
</div>
<div class="error" ng-message="maxlength">
  <i class="ion-alert"></i>
  {{LABELS.MAX_PASSWORD_LENGTH}}
</div>
