<ion-popover-view class="custom-popover-container">
      <a ng-if="isAndroid" class="custom-popover-item item item-icon-left custom-light" ng-click="downloadDocument()">
        <i class="icon ion-android-arrow-down background-balanced icon-round light first-item-icon"></i>
        {{LABELS.SAVE}}
        <br>
        {{LABELS.IN_DEVICE}}
      </a>
      <a class="custom-popover-item item item-icon-left custom-light" ng-click="exportDocument()">
        <i class="icon ion-android-share-alt background-positive icon-round light"></i>
        {{LABELS.EXPORT}}
      </a>
      <a class="custom-popover-item item item-icon-left custom-light backgruond-assertive" ng-click="deleteDocument()">
        <i class="icon ion-ios-trash background-assertive icon-round light"></i>
        {{LABELS.DELETE}}
      </a>
</ion-popover-view>
