<div class="row">
  <h2>
      {{document.documentObject.claseNombre}}
  </h2>
</div>
<div class="row">
  <h3>
      {{document.documentObject.tipoNombre}}
  </h3>
</div>
<div class="row">
  <h3 class="positive">
      {{document.documentObject.fechaObtencion | date:'dd/MM/yyyy'}}
  </h3>
</div>
<i class="icon icon ion-document-text">
</i>
