/* Empty. Add your own CSS if you like */
@font-face {
  font-family: gobCL;
  font-weight: normal;
  src: url("../fonts/gobCL_Regular.otf") format("opentype");
}
@font-face {
  font-family: gobCL;
  font-weight: bold;
  src: url("../fonts/gobCL_Bold.otf") format("opentype");
}
@font-face {
  font-family: gobCL;
  font-weight: lighter;
  src: url("../fonts/gobCL_Light.otf") format("opentype");
}
@font-face {
  font-family: gobCL;
  font-weight: bolder;
  src: url("../fonts/gobCL_Heavy.otf") format("opentype");
}
* {
    font-family: 'gobCL' !important;
}
.center {
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.qrcode {
  position: absolute;
  text-align: center;
  right: 0;
  left: 0;
}
.qrcode canvas {
  width: 80%;
  height: auto !important;
}
.spinner-button{
  float:right;
  vertical-align: middle;
}
.spinner-button svg{
  height: 16px !important;
  width: 16px !important;
}
div.spinner-content {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  height: 85px;
  text-align: center;
}
.spinner-content svg {
  width: 19% !important;
  height: 85px !important;
}
/* Errors Style */
.error-container {
  margin: 0;
}

.error-container:last-child {
  margin: 0 !important;
}

.error {
  padding: 0 !important;
  font-size: 11px !important;
  text-transform: uppercase;
  color: #B83E2C !important;
  vertical-align: middle;
  white-space: normal !important;
}

.last-error-container > .error {
  padding: 10px 16px 0;
}

.has-errors {
  border-bottom: 3px solid #B83E2C;
}

.no-errors {
  border-bottom: 3px solid green;
}

.scroll {
    height: 100%;
}

.angular-google-map {
    width: 100%;
    height: 100%;
}
.angular-google-map-container {
    width: 100%;
    height: 100%;
}

.pull-right {
  float: right;
}

.list .item.item-accordion {
  line-height: 38px;
  padding-top: 0;
  padding-bottom: 0;
  transition: 0.1s all linear;
}

.list .item.item-accordion.ng-hide {
  line-height: 0px;
}

.list .item.item-accordion.ng-hide-add,
.list .item.item-accordion.ng-hide-remove {
  display: block !important;
}

.text-vertical {
  display: flex;
  vertical-align: middle;
  align-items: center;
  justify-content: center;
}

.fixed-phone {
  margin-left: 4px;
}
.larger {
  font-size: larger;
}
.smaller {
  font-size: smaller;
}

.custom-item-divider.item-divider {
  background-color: #387ef5;
  color: white;
}
.custom-item-divider.item.activated {
  background-color: #387ef5;
  opacity: 0.8;
}

.refresher-positive div{
  color: #387ef5;
}
.refresher-positive svg {
  stroke: #387ef5;
  fill: #387ef5;
}

.fade.ng-enter {
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}
.fade.ng-leave {
    -webkit-animation: fadeOut 1s;
    animation: fadeOut 1s;
}

.error-popup .popup-title {
    color: white;
}
.error-popup .popup-head {
    background-color: #ef473a;
}
.inf-popup .popup-title {
    color: white;
}
.inf-popup .popup-head {
    background-color: #ffc900;
}
.icon-slide {
  font-size: 50px;
}
.slide-card {
  margin: 5px !important;
}
.slide-image {
  width: 100% !important;
}

.item-text-center-vertical {
  line-height: 300%;
}

.item-avatar-custom img {
  max-width: 50px !important;
  max-height: 50px !important;
}
.slider-footer {
  height: 25% !important;
}
.slider-footer:before {
    top:0;
    left:0;
    content: '';
    position: absolute;
    background-image: url("../img/cu-background.png") !important;
    background-repeat: repeat;
    background-size: 20px;
    opacity: 0.25;
    z-index:-1;
    width: 100%;
    height: 100%;
    background-color: #387ef5;
}
.custom-row-slide {
  background-color: #387ef5;
}
.custom-slider {
  margin-left: 10px;
  margin-right: 10px;
}
.background-calm {
  background-color: #11c1f3;
}
.background-srcei {
  background-color: #0c5da8;
}
.custom-row-slide h5 {
  margin-top: 2px;
  margin-bottom: 2px;
}
.custom-padding {
  padding-left: 50px;
  padding-right: 50px;
}
a[href^="tel"]{
    color:inherit;
}
